@import url('https://fonts.googleapis.com/css?family=Raleway:200,400&display=swap');

body, html {
  background-color: #1A86A8;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.submodule {
  padding: 1rem;
  background-color: white;
}

button {
  background-color: white;
  outline: none;
  border-radius: 8px;
  padding: 8px; 
  width: 150px;
  color: #1A86A8;
  border: 1px dotted #1A86A8;
}

button:hover {
  border: 1px dotted white;
  font-weight: 800;
  background-color: #1A86A8;
  color: white;
}

h1 {
  text-align: center;
  font-weight: 200;
  font-size: 2rem;
  color: white;
}

h2 {
  font-weight: 200;
  color: #1A86A8;
  text-align: center;
}

b {
  color:#1A86A8;
}

input {
  padding: 8px;
  width: 200px;
  outline: none;
  border-radius: 8px;
  border: 1px dotted #1A86A8;
}

.birds {
  background-color: #eee;
  color: black;
  padding: 0.5rem;

}

.birdies {
  max-height: 34vh;
  overflow: scroll;
}